Exercise 1

In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

In [4]:
data = boston.data
target = boston.target
feature_names = boston.feature_names

In [5]:
X = pd.DataFrame(data, columns=feature_names)

In [6]:
y = pd.DataFrame(target, columns=['price'])

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
lr = LinearRegression()

In [11]:
lr.fit(X_train, y_train)

LinearRegression()

In [12]:
y_pred = lr.predict(X_test)

In [13]:
check_test = pd.DataFrame({"y_test": y_test["price"],
                           "y_pred": y_pred.flatten()})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [14]:
from sklearn.metrics import r2_score

In [15]:
R2 = r2_score(y_test, y_pred)
R2

0.7112260057484929

Exercise 2

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
model = RandomForestClassifier(n_estimators=1000, max_depth=12, random_state=42)

In [18]:
model.fit(X_train, np.array(y_train.values[:, 0], dtype=int))

RandomForestClassifier(max_depth=12, n_estimators=1000, random_state=42)

In [19]:
y_pred_RFC = model.predict(X_test)
check_test_RFC = pd.DataFrame({"y_test": y_test["price"],
                           "y_pred": y_pred_RFC.flatten()})

check_test_RFC.head(10)

     y_test  y_pred
173    23.6      22
274    32.4      32
491    13.6      15
72     22.8      23
452    16.1      14
76     20.0      20
316    17.8      19
140    14.0      13
471    19.6      21
500    16.8      21

In [20]:
R2_RFC = r2_score(y_test, y_pred_RFC)
R2_RFC

0.8370756186213897

In [21]:
if R2 > R2_RFC:
    print ('Лучше работает модель на "LinearRegression"')
elif R2 < R2_RFC:
    print ('Лучше работает модель на "RandomForestClassifier"')
else:
    print ("Модели работают одинаково")

Лучше работает модель на "RandomForestClassifier"

Exercise 3

In [22]:
from sklearn.ensemble import RandomForestRegressor
?RandomForestRegressor

In [23]:
sum(model.feature_importances_)

1.0

In [24]:
importance = pd.DataFrame({"name": boston['feature_names'],
                           "feature_importance": model.feature_importances_})
importance

       name  feature_importance
0      CRIM            0.115472
1        ZN            0.021473
2     INDUS            0.049592
3      CHAS            0.009745
4       NOX            0.072786
5        RM            0.137637
6       AGE            0.108621
7       DIS            0.109380
8       RAD            0.032542
9       TAX            0.049919
10  PTRATIO            0.052173
11        B            0.097979
12    LSTAT            0.142680

In [25]:
importance.sort_values("feature_importance", ascending=False).head(2)

     name  feature_importance
12  LSTAT            0.142680
5      RM            0.137637